<!doctype html>
<html>
   <body>

      <h2 style = "text-align: center;">Создание альбома</h2>

         {% from "_formhelpers.html" import render_field %}

               <form action = {{ url_for('create_album') }} method=post>
                   <fieldset>

                       <legend>
                           Данные для заполнения
                       </legend>
                       {{ form.hidden_tag() }}

                     <dl>
                       {{ render_field(form.title) }}
                       {{ render_field(form.description) }}
                       {{ render_field(form.submit) }}
                     </dl>

                   </fieldset>
               </form>

   </body>
</html>